* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #f4eee1;
}

.capa {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    text-align: center;
}

p{
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 17px;
    text-decoration: none;
    color: #6c6c6c;
    font-weight: 500;
    opacity: 50%;
}

h1 {
    font-family: "Libre Bodoni", serif;
    color: #98886b;
    font-size: 60px;
    letter-spacing: 5px;
}

.perfil {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

h3 {
    color: #98886b;
    font-size: 30px;
    font-weight: 600;
}

.btn {
    background-color: #848474;
    color: white;
    padding: 12px 80px;
    border-radius: 2px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
}

.btn:hover {
    transform: scale(1.03);
    background-color: #6f705f;

}
